:root {
	--primary-bg-color: white;
	--primary-txt-color: #333;
	--secondary-bg-color: black;
	--secondary-txt-color: white;
}

html {
    position: relative;
    min-height: 100%;
}

body {
	font-family: "Bree Serif", Arial, sans-serif;
    margin: 0 0 170px; /* bottom = footer height */
    padding: 25px;
	background-color: var(--primary-bg-color);
	background-image: url(../images/background_opaque.png);
	background-size: cover;
}

nav {
	color: var(--secondary-txt-color);
	background-color: var(--secondary-bg-color);
	border-radius: 10px;
}

#menu-nav {
	background: linear-gradient(var(--primary-bg-color), var(--primary-txt-color));
}

.btn {
	color: var(--primary-txt-color);
}

.btn:hover {
	background-color: var(--primary-bg-color);
}

.desc {
	border-radius: 10px;
	font-style: italic;
	text-align: center;
	font-size: 0.9em;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
	color: var(--secondary-txt-color);
    background-color: var(--secondary-bg-color);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 140px;
    width: 100%;
    overflow:hidden;
	text-align: left;
}

footer.contact {
    height: 40px;
}

hr {
	border-color: var(--primary-bg-color);
	width: 25%;
	margin-top: 5px;
	margin-bottom: 5px;
}

h1 {
	font-style: italic;
	text-align: center;
	margin: 0px 0px 0px 0px;
	color: var(--secondary-txt-color);
}

#owner {
	font-style: italic;
	text-align: center;
	margin: 0px 0px 0px 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#subtitle {
	background-color: var(--secondary-bg-color);
	height: 85px;
	position: relative;
	border-radius: 10px;
	margin-top: 15px;
}

#justice {
	position: absolute;
	border-radius: 10px;
	width: 128px;
	height: 85px;
}

#quote {
	color: var(--secondary-txt-color);
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

#contact-details {
	margin-top: 50px;
}

/************ Large **************/
@media (min-width: 1200px) {
}

/************ Medium **************/
@media (min-width: 992px) and (max-width: 1199px) {
}

/************ Small **************/
@media (min-width: 768px) and (max-width: 991px) {
}

/************ Extra-small **************/
@media (max-width: 767px) {
	#subtitle {
		height: 48px;
	}

	#quote {
		font-size: 1.1em;
		margin-top: 12px;
		margin-bottom: 12px;
		padding-left: 72px;
	}

	#justice {
		width: 72px;
		height: 48px;
	}
}