:root {
	--primary-bg-color: white;
	--primary-txt-color: #333;
	--secondary-bg-color: black;
	--secondary-txt-color: white;
	--alt-bg-color: #6e0000;
}

html {
    position: relative;
    min-height: 100%;
}

body {
	font-family: "Bree Serif", Arial, sans-serif;
    margin: 0 0 220px; /* bottom = footer height */
    padding: 25px;
	background-color: var(--primary-bg-color);
	background-image: url(../images/background_opaque.png);
	background-size: cover;
}

header {
	color: var(--secondary-txt-color);
	background-color: var(--alt-bg-color);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin: -25px -25px 0px -25px;
}

#office {
	width: 100%;
}

a {
	text-decoration: none;
}

nav {
	color: var(--secondary-txt-color);
	background-color: var(--secondary-bg-color);
	border-radius: 10px;
}

#menu-nav {
	background: linear-gradient(var(--primary-bg-color), var(--primary-txt-color));
}

.btn {
	color: var(--primary-txt-color);
}

.btn:hover {
	background-color: var(--primary-bg-color);
}

.desc {
	border-radius: 10px;
	font-style: italic;
	text-align: center;
	font-size: 0.9em;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
	color: var(--secondary-txt-color);
    background-color: var(--secondary-bg-color);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 220px;
    width: 100%;
    overflow:hidden;
	text-align: left;
}

hr {
	border-color: var(--primary-bg-color);
	width: 25%;
	margin: 5px auto;
}

#firm {
	text-align: center;
	margin: 0px;
	padding: 15px;
	color: var(--secondary-txt-color);
}

#owner {
	font-style: italic;
	text-align: center;
	margin: 0px 0px 0px 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#subtitle {
	background-color: var(--secondary-bg-color);
	height: 85px;
	position: relative;
	border-radius: 10px;
	margin-top: 15px;
}

#justice {
	position: absolute;
	border-radius: 10px;
	width: 128px;
	height: 85px;
	padding: 0px;
}

#quote {
	color: var(--secondary-txt-color);
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

#main_content {
	margin-top: 50px;
}

#info_icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#about_us {
	text-align: center;
	margin: 25px;
}

.mapouter{position:relative;text-align:right;height:150px;width:450px;margin-top:20px;}

.gmap_canvas {overflow:hidden;background:none!important;height:150px;width:450px;}

/************ Large **************/
@media (min-width: 1200px) {
}

/************ Medium **************/
@media (min-width: 992px) and (max-width: 1199px) {
}

/************ Small **************/
@media (min-width: 768px) and (max-width: 991px) {
	footer {height:320px;}
	body {margin: 0 0 320px;}
	.mapouter{overflow:hidden;}
}

/************ Extra-small **************/
@media (max-width: 767px) {
	#subtitle {
		height: 48px;
	}

	#quote {
		font-size: 0.9em;
		margin-top: 12px;
		margin-bottom: 12px;
		padding-left: 72px;
	}

	#justice {
		width: 72px;
		height: 48px;
	}

	footer {height:320px;}
	body {margin: 0 0 320px;}
	.mapouter{overflow:hidden;}
}